@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h1 {
    margin-left: 10px;
    padding: 0;
    color: #1d1d1d;
}

p {
    margin-left: 10px;
    padding: 0;
    color: #1d1d1d;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    background-image: url('background.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a0a;
    padding: 10px 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.logo-image-as-button {
    display: inline-block;
    width: 100px; 
    height: auto; 
    color: white; 
    text-decoration: none; /
    border-radius: 5px;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.nav-btn {
    color: white;
    text-decoration: none;
}

.profile-page {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    height: 500px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.profile-section {
    display: flex;
    align-items: flex-start;
}

.profile-picture {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
}

.profile-info {
    flex: 1;
}

.profile-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

#bio {
    width: 50%;
    height: 300px;
    padding-left: 15px;
    padding-top: 0px;
    border: 2px solid #ff6f00;
    border-radius: 5px;
    font-size: 16px;
    vertical-align: top; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    outline: none;
    transition: border-color 0.3s ease;
}

#bio:focus {
    border-color: #e65200;
    box-shadow: 0 0 5px rgba(199, 230, 0, 0.46);
}

.profile-picture-btn {
    display: inline-block;
    width: 90px; 
    border-radius: 20px;
    height: auto; 
    color: white; 
    text-decoration: none; /
}