@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, p {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    font-weight: bold;
    color: #ff6f00; 
    font-size: 20px; 
}

h1 {
    margin-left: 10px;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    background-image: url('background.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a0a;
    padding: 10px 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.logo-image-as-button {
    display: inline-block;
    width: 100px; 
    height: auto; 
    color: white; 
    text-decoration: none;
    border-radius: 5px;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.nav-center {
    display: flex;
    flex-direction: row;
    gap: 20px; 
}

.nav-btn {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.3s ease;
    font-size: 14px;
}

.nav-btn:hover {
    color: #ff6f00;
}

main {
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #ff6f00; 
    font-size: 14px; 
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px; 
    color: #333; 
}

input[type="submit"] {
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    background-color: #ff6f00; 
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #e65200;
    color: white;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #ff6f00;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn:hover {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}