@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h1 {
    margin-left: 10px;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    background-image: url('background.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a0a;
    padding: 10px 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.logo-image-as-button {
    display: inline-block;
    width: 100px; 
    height: auto; 
    color: white; 
    text-decoration: none; /
}

.content-wrapper {
    display: flex;
    padding-top: 50px;
}

.box {
    flex: 1;
    background-color: #2c2c2c;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    margin: 0 10px; 
    text-align: center;
}

.box h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.logo {
    font-size: 28px;
    color: #ff6f00;
    margin-bottom: 10px;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    margin: au;
}

.nav-btn {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    transition: color 0.3s ease;
    font-size: 14px;
}

.nav-btn:hover {
    color: #ff6f00;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-buttons .btn {
    background-color: #ff6f00;
    color: #fff;
    border: none;
    padding: 3px 8px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.auth-buttons .btn:hover {
    background-color: #ff851b;
}
