<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Blog - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='regStyle.css') }}" type="text/css">
</head>
<body>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Games World Logo" class="logo-image-as-button">
        </a>
        <nav class="nav-buttons">
            <a class="nav-btn" href="/consoles">Consoles</a>
            <a class="nav-btn" href="/newReleases">New Releases</a>
            <a class="nav-btn">Top 10</a>
            <a class="nav-btn">Reviews</a>
        </nav>
    </header>
    
    <main>
        <h2>Login</h2>
        <form id="register-form" action="/register" method="post">
            <label for="username">Username:</label>
<input type="text" id="username" name="username" required>

<label for="email">Email:</label>
<input type="email" id="email" name="email" required>

<label for="password">Password:</label>
<input type="password" id="password" name="password" required>

<label for="confirm-password">Confirm Password:</label>
<input type="password" id="confirm-password" name="confirm-password" required>

<input type="submit" value="Login">
        </form>
    </main>
    
    <footer>
        <p>&copy; 2023 Game Blog. All rights reserved.</p>
    </footer>
</body>
</html>
