<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <title>Gaming App</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Games World Logo" class="logo-image-as-button">
        </a>
        <nav class="nav-buttons">
            <div class="dropdown">
                <button class="nav-btn dropbtn">Consoles</button>
                <div class="dropdown-content">
                    <a href="/pc">PC</a>
                    <a href="/xbox">Xbox</a>
                    <a href="/playStation">PlayStation</a>
                    <a href="">Nintendo</a>
                </div>
            </div>
            <a class="nav-btn" href="/newReleases">New Releases</a>
            <a class="nav-btn">Top 10</a>
            <a class="nav-btn">Reviews</a>
        </nav>
        <div class="auth-buttons">
            <a class="btn" href="/login">Login</a>
            <a class="btn" href="/register">Register</a>
        </div>
        <a href="/profile">
            <img src="{{ url_for('static', filename='profile.png') }}" alt="Profile" class="profile-picture-btn">
        </a>
    </header>
    <main class="content-wrapper">
        <div class="upcoming-games box">
            <h2>Upcoming Games</h2>
        </div>
        <div class="user-reviews box">
            <h2>User Reviews</h2>
        </div>
    </main>
</body>
</html>
