<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='newProf.css') }}" type="text/css">
</head>
<body>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Games World Logo" class="logo-image-as-button">
        </a>
    </header>

    <main class="profile-page">
        <section class="profile-section">
            <img src="{{ url_for('static', filename='profile.png') }}" alt="profile" class="profile-picture-btn">
            <div class="profile-info">
                <h1>Wellcome user: {{ username }}</h1>
                <a class="profile-btn" href="/profile">Go to profile</a>
        </form>
    </div>
    </div>
    </div>
            </div>
        </section>
    </main>
</body>
</html>
